:root {
    --light-color: #F3EFEB;
    --main-color: #FFB566;
    --dark-color: #731245;
}

html, body {
    margin: 0;
    background-color: var(--light-color);
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
}

a {
    color: var(--main-color);
}

.page-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 7vh 1fr 1fr 7vh;
    grid-template-rows: 4vw 1fr 1fr 1fr 1fr 4vw;
    grid-gap: 40px;
    border: 14px solid var(--dark-color);
    box-sizing: border-box;
}

.animate-in-out {
    opacity: 0.01;
    transition: opacity 0.2s;
}
.animate-out {
    opacity: 1;
    transition: opacity 0.2s;
}
.animate-in {
    opacity: 0.01;
    transition: opacity 0.2s;
}

.page-avatar-container {
    grid-column: 2;
    grid-row: 2 / 3;

    max-height: 140px;
}

.speech-bubble-stem {
    position: absolute; top: -60px; margin-left: auto;
    margin-right: auto;
    left: -40%;
    right: 0;
    height: 70px;
    text-align: center;
}

.puzzlepiece-container {
    grid-column: 2;
    grid-row: 5;
    height: 100%;
}

.puzzle-piece {
    width: 300px;
    height: 80px;
    background-image: url('puzzle.svg');
    background-size: 300px auto;
    background-repeat: no-repeat;
}

.missing {
    background-image: url('puzzle_missing.svg');
}

.code-container {
    grid-column: 3 / 5;
    grid-row: 1 / 7;
    margin: 0;
    padding: 40px;

    font-size: 14px; /* temp size reduction to fit content */
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.code-font {
    font-family: 'Fira Code', monospace;
    color: var(--main-color);
}

.page-text {
    grid-column: 2;
    grid-row: 3 / 5;

    position: relative;
}

.page-text p {
    background: var(--dark-color);
    color: var(--light-color);
    font-size: 16px;  /* temp size reduction to fit content */
    border-radius: 35px;
    padding: 40px;
    margin: 0;
}

.andra-avatar {
    height: 100%;
    display: block;
    margin: 0 auto;

    border-radius: 100%;
    border: 6px solid var(--dark-color);
}

button {
    background: var(--main-color);
    border: 5px solid var(--dark-color);
    box-shadow: 10px 10px 0px var(--dark-color);
    padding: 20px 40px;
    color: var(--dark-color);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 22px;
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.2s !important;
}

button:hover {
    box-shadow: 0 0 0 var(--dark-color);
    transform: translate(10px, 10px);
}

button:active {
    background: var(--dark-color);
    color: var(--light-color);
}

/* Dragula CSS Release 3.2.0 from: https://github.com/bevacqua/dragula */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    transform: rotate(10deg);
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0;
}