html, body {
    margin: 0;
}

#stage-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#step-container {
    grid-column: 1;
    grid-row: 1;
    background: #eee;
}

#puzzlepiece-container {
    grid-column: 1;
    grid-row: 2;
    background: #ccc;
}

#code-container {
    grid-column: 2;
    grid-row: 1 / 3;
    background: #aaa;
}
