:root {
    --light-color: #F3EFEB;
    --main-color: #FFB566;
    --dark-color: #731245;
}

html, body {
    margin: 0;
    background-color: var(--dark-color);
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
}

a {
    color: var(--main-color);
}

.page-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 0 500px 1fr 7vh;
    grid-template-rows: 4vw 1fr 1fr 1fr 100px auto;
    grid-gap: 40px 0;
    border: 14px solid var(--dark-color);
    box-sizing: border-box;
}

.dark-page .page-text p {
    background: var(--light-color);
    color: var(--dark-color);
}

.page-light-background {
    grid-column: 2;
    grid-row: 1 / 7;
    background: var(--light-color);
}

.animate-in-out {
    opacity: 0.01;
    transition: opacity 0.2s;
}
.animate-out {
    opacity: 1;
    transition: opacity 0.2s;
}
.animate-in {
    opacity: 0.01;
    transition: opacity 0.2s;
}

.nextback-container {
    grid-row: 6;
    grid-column: 3 / 5;
    text-align: left;

    padding-bottom: 10px;
}
.next-button {
    float: right;
}

.getcode-container {
    grid-row: 5;
    grid-column: 3 / 5;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.page-avatar-container {
    grid-column: 2;
    grid-row: 2 / 3;

    max-height: 140px;
}

.speech-bubble-stem {
    position: absolute; top: -60px; margin-left: auto;
    margin-right: auto;
    left: -40%;
    right: 0;
    height: 70px;
    text-align: center;
}

.puzzlepiece-container {
    grid-column: 2;
    grid-row: 5;
    height: 100%;
    padding: 0 30px;
}

.puzzlepiece-container .puzzle-piece {
    background-size: 440px auto;
    padding: 18px 0 0 34px;
    font-size: 9px;
}

.puzzlepiece-container .puzzle-piece-big {
    background-size: 440px auto;
    padding: 18px 0 0 34px;
    font-size: 7px;
}

.puzzle-piece, .puzzle-piece-big {
    width: 600px;
    height: 80px;
    margin: 0 auto;
    background-image: url('../assets/smol_puzzle.svg');
    background-size: 600px auto;
    background-repeat: no-repeat;
    cursor: pointer;

    font-family: 'Fira Code', monospace;
    font-size: 12px;
    color: var(--dark-color);
    padding: 24px 0 0 50px;
}

.puzzle-piece-big {
    height: 110px;
    width: 650px;
    background-size: 650px auto;
    background-image: url('../assets/big_puzzle.svg');
}

.puzzle-piece-big.missing {
    background-image: url('../assets/big_puzzle_missing.svg');
    margin: 0 20px;
    padding: 0;
    width: 650px;
    background-size: 632px auto;
    background-position: 2px 2px;
    cursor: auto;
}

.puzzle-piece.missing {
    margin: 0 20px;
    padding: 0;
    width: 580px;
    background-size: 578px auto;
    background-position: 2px 2px;
    background-image: url('../assets/smol_puzzle_missing.svg');
    cursor: auto;
}

.code-container {
    grid-column: 3 / 5;
    grid-row: 1 / 7;
    margin: 0;
    padding: 40px 10px 40px 40px;

    line-height: 120%;
    font-size: 13px; /* temp size reduction to fit content */
    white-space: pre-wrap;
    word-wrap: break-word;
    color: var(--light-color);
}

.code-font {
    font-family: 'Fira Code', monospace;
    color: var(--main-color);
}

.light-footer {
    bottom: 20px;
    left: 20px;
    position: fixed;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--dark-color);
}
.light-footer a:link {
    color: var(--dark-color);
}
.light-footer a:visited {
    color: var(--dark-color);
}
.light-footer a:hover {
    color: var(--dark-color);
}
.light-footer a:active {
    color: var(--dark-color);
}

.dark-footer {
    bottom: 20px;
    left: 20px;
    position: fixed;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--light-color);
}
.dark-footer a:link {
    color: var(--light-color);
}
.dark-footer a:visited {
    color: var(--light-color);
}
.dark-footer a:hover {
    color: var(--light-color);
}
.dark-footer a:active {
    color: var(--light-color);
}

.page-text {
    grid-column: 2;
    grid-row: 3 / 5;
    padding: 0 30px;

    position: relative;
}

.page-text p {
    background: var(--dark-color);
    color: var(--light-color);
    font-size: 16px;
    border-radius: 35px;
    padding: 40px;
    margin: 0;
}

.auden-avatar {
    height: 100px;
    display: block;
    margin: 0 auto;

    border-radius: 100%;
    border: 6px solid var(--dark-color);
}
.dark-page .auden-avatar {
    border: 6px solid var(--light-color);
}

button {
    padding: 15px 35px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 0 14px;
    cursor: pointer;
}

.dark-page button, .nextback-container button {
    background: var(--dark-color);
    border: 5px solid var(--main-color);
    box-shadow: 10px 10px 0px var(--main-color);
    color: var(--main-color);

    transition: box-shadow 0.2s, transform 0.2s !important;
}
.dark-page button:disabled, .nextback-container button:disabled {
    background: var(--light-color);
    border: 5px solid var(--light-color);
    box-shadow: 10px 10px 0px var(--light-color);
    color: var(--dark-color);
    cursor: auto;
    opacity: 0.5;
}
.dark-page button:disabled:hover, .nextback-container button:disabled:hover {
    box-shadow: 10px 10px 0px var(--light-color);
    transform: translate(0px, 0px);
}
.dark-page button:hover, .nextback-container button:hover {
    box-shadow: 0 0 0 var(--main-color);
    transform: translate(10px, 10px);
}
.dark-page button:active, .nextback-container button:active {
    background: var(--main-color);
    color: var(--dark-color);
}

.getcode-container button {
    background: var(--main-color);
    border: 5px solid var(--main-color);
    color: var(--dark-color);
}
.getcode-container button:hover {
    transform: translate(0, -10px) scale(1.1, 1.1);
}
.getcode-container button:active {
    background: var(--dark-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
}

/* Syntax Highlighting Classes */
.syntax-plain {
    color: var(--light-color);
}

.syntax-htmltag {
    color: #4BAEFF;
}

.syntax-htmltagpunctuation {
    color: #99ABBA;
}

.syntax-variable {
    color: #00CCCC;
}

/* control: if, for, else, etc. */
.syntax-functionorcontrol {
    color: #F48BC1;
}

.syntax-string {
    color: var(--main-color);
}

.syntax-newcode {
    width: 2px;
    height: 15.6px;
    vertical-align: text-bottom;
    margin: 0px 8px 0px -8px;
    display: inline-block;
    background: #25F2A8;
}

/* Mobile/small screen/large screen styling */
.mobile-landing-page {
    color: var(--light-color);
    background: var(--dark-color);
    padding: 40px;
}
.mobile-landing-page li {
    padding: 0px 0px 8px 0px;
}
.mobile-landing-page a:link {
    color: var(--light-color);
}
.mobile-landing-page a:visited {
    color: var(--light-color);
}
.mobile-landing-page a:hover {
    color: var(--light-color);
}
.mobile-landing-page a:active {
    color: var(--light-color);
}
.mobile-landing-page-highlight-text {
    color: var(--main-color);
}
@media (max-width: 1000px) {
    .mobile-landing-page {
        display: block;
    }
    .page-container {
        display: none;
    }
}
@media (min-width: 1600px) {
    .page-container {
        grid-template-columns: 0 600px 1fr 7vh;
    }
    .auden-avatar {
        height: 150px;
    }
    .speech-bubble-stem {
        left: -50%;
    }
    .page-text p {
        font-size: 20px;
    }
    .code-container {
        font-size: 17px;
    }
    .puzzlepiece-container .puzzle-piece {
        background-size: 560px auto;
        padding: 20px 0 0 40px;
        font-size: 12px;
    }
    .puzzlepiece-container .puzzle-piece-big {
        background-size: 560px auto;
        padding: 25px 0 0 40px;
        font-size: 10px;
    }
    .syntax-newcode {
        height: 20px;
    }
}

.getcode-copy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.getcode-copy-feedback-image {
    display: block;
    max-width: 150px;
    margin: -170px 0px 20px 0px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
